/*Подключение шрифта OpenSans в начертании Light из локальной папки проекта*/
@font-face {
    font-family: 'Open Sans';
    src: local('Open Sans Light'), local('OpenSans-Light'),
      url('../fonts/opensans/opensanslight.woff2') format('woff2'),
      url('../fonts/opensans/opensanslight.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}
/*Подключение шрифта Gilroy в начертаниях Light и ExtraBold из локальной папки проекта*/
@font-face {
    font-family: 'Gilroy';
    src: local('Gilroy Light'), local('Gilroy-Light'),
      url('../fonts/gilroy/Gilroylight.woff2') format('woff2'),
      url('../fonts/gilroy/Gilroylight.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Gilroy';
    src: local('Gilroy ExtraBold'), local('Gilroy-ExtraBold'),
      url('../fonts/gilroy/Gilroyextrabold.woff2') format('woff2'),
      url('../fonts/gilroy/Gilroyextrabold.woff') format('woff');
    font-weight: 800;
    font-style: normal;
}
/*Задание минимальной ширины и высоты страницы, обнуление отступов*/
html,
body {
  min-width: 1342px;
  min-height: 2830px;
  margin: 0;
  padding: 0;
}
/*Базовые ТЕКСТОВЫЕ стили ------------------------------------------------------*/
body {
  font-size: 15px;
  line-height: 30px;
  color: #000000;
  font-weight: 300;
  font-family: 'Open Sans', Arial, sans-serif;
  letter-spacing: 0.01em;
}
a {
  text-decoration: none;
  color: #000000;
}
/*Стили по типу шрифта + интерлиньяж auto + базовый трекинг 0.01em*/
.osl {
  line-height: 1.2em;
  font-weight: 300;
  font-family: 'Open Sans', Arial, sans-serif;
  letter-spacing: 0.01em;
}
.gxb {
  line-height: 1.2em;
  font-weight: 800;
  font-family: 'Gilroy', Arial, sans-serif;
  letter-spacing: 0.01em;
}
.gl {
  line-height: 1.2em;
  font-weight: 300;
  font-family: 'Gilroy', Arial, sans-serif;
  letter-spacing: 0.01em;
}
/*Стили по кеглю*/
.s13 {font-size: 13px;}
.s14 {font-size: 14px;}
.s15 {font-size: 15px;}
.s16 {font-size: 16px;}
.s18 {font-size: 18px;}
.s36 {font-size: 36px;}
.s47 {font-size: 47px;}
.s48 {font-size: 48px;}
/*Стили по трекингу*/
.t10{letter-spacing: 0.01em;}
.t50{letter-spacing: 0.05em;}
.t200{letter-spacing: 0.2em;}
/*Стили по РЕГИСТРУ ШРИФТА*/
.uc {text-transform: uppercase;}
.nt {text-transform: none;}

/*Базовые стили ПОВЕДЕНИЯ ПРИ НАВЕДЕНИИ И НАЖАТИИ ------------------------------*/
.hover-fading:hover {
  opacity: 0.6;
  cursor: pointer;
}
.hover-fading:active {
  opacity: 0.3;
  cursor: pointer;
}

/*Стили кнопок*/
.btn {
  display: inline-block;
  padding: 10px 0px;
  font-size: 18px;
  line-height: 1.2em;
  font-weight: 800;
  font-family: 'Gilroy', Arial, sans-serif;
  color: #000000;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  vertical-align: top;
  text-align: center;
  background-image: linear-gradient(transparent 0%, transparent 40%, #f0c52e 40%, #f0c52e 60%, transparent 60%, transparent 100%);
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.btn:hover {
  background-color: #f0c52e;
}
.btn:active {
  color: #be9c22;
}
.btn.disabled,
.btn:disabled {
  cursor: default;
  opacity: 0.5;
}
.btn.disabled:hover,
.btn:disabled:hover {
  background-image: linear-gradient(transparent 0%, transparent 40%, #f0c52e 40%, #f0c52e 60%, transparent 60%, transparent 100%);
  background-color: transparent;
}
.btn.disabled:active,
.btn:disabled:active {
  background-image: linear-gradient(transparent 0%, transparent 40%, #f0c52e 40%, #f0c52e 60%, transparent 60%, transparent 100%);
  background-color: transparent;
  color: #000000;
}
/*Общий стиль блока-центровщика*/
.container {
  width: 1160px;
  margin: 0 auto;
  padding: 0 20px;
}
/*Подложка хедера (с желтым фоном)*/
.header-wrapper {
  position: relative;
  background-color: #f7e296;
  margin-top: 40px;
  padding-top: 42px;
}
/*Позиционирование логотипа на хедере*/
.on-header-logo {
  position: absolute;
  top: -30px;
  left: 58px;
}
/*Оформление блока ссылок на хедере*/
.upper-string {
  display: flex;
  margin-bottom: 40px;
  align-items: baseline;
}
[class^="actions-"]::before {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  top: 6px;
  background: url("../img/icon-sprite.png") no-repeat;
}
[class^="actions-"] {
  position: relative;
  flex-shrink: 0;
  /*background-color: rgba(255, 0, 0, 0.5);*/
}

.actions-search {
  width: 440px;
  margin-left: 97px;
  /*background-color: rgba(255, 0, 0, 0.5);*/
}
.submit-string {
  position: absolute;
  margin-top: -5px;
  margin-left: 4px;
  width: 85px;
  height: 49px;
  background-color: transparent;
  border: 2px solid #000000;
  display: none;
}
.submit-string:hover {
  background-color: #000000;
  color: #ffffff;
}
.submit-string:active {
  color: #6a6a6a;
  display: inline;
}
.submit-string::after {
  content: "";
  position: absolute;
  left: -358px;
  top: 45px;
  width: 360px;
  height: 0;
  border: 1px solid #000000;
}
.actions-search::before {
  left: -34px;
  top: 8px;
}
.actions-search input {
  width: 314px;
  background-color: transparent;
  border-style: none;
  opacity: 0.5;
  font: inherit;
}
.actions-search input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}
.actions-search input:hover {
  opacity: 1;
}
.actions-search input:focus {
  outline: none;
}
#sitesearch:focus ~ .submit-string {
  display: inline;
}
.user-block {
  width: 250px;
  margin-left: 89px;
}

.actions-not-logged::before {
  position: absolute;
  background-position: -16px;
  left: -29px;
  top: 1px;
}
.logged {
  margin-left: 20px;
}

.actions-compare {
  width: 100px;
  margin-left: 31px;
}
.actions-compare::before {
  left: -26px;
  background-position: -32px;
}
.actions-cart {
  width: 100px;
  margin-left: 33px;
}
.actions-cart::before {
  left: -27px;
  background-position: -48px;
}
/*Оформление блока главного меню на хедере*/
nav ul {
  list-style: none;
}
.mainmenu {
  display: flex;
  margin-bottom: 0;
}
/*Стилизация плюса после пункта меню "Каталог товаров"*/
.faded-plus {
  font-size: 39px;
  color: #b8a974;
  font-weight: 400;
  line-height: 20px;
  vertical-align: text-bottom;
}
.mainmenu > li:nth-child(1) {
  margin-left: 20px;
}
.mainmenu > li:nth-child(2) {
  margin-left: 289px;
}
.mainmenu > li:nth-child(3) {
  margin-left: 34px;
}
.mainmenu > li:nth-child(4) {
  margin-left: 108px;
}
/*Спрятанное подменю*/
.submenu-wrapper {
  position: absolute;
  width: 1160px;
  height: 153px;
  left: 0;
  z-index: 1;
  padding-top: 10px;
  background-color: #f7e296;
  display: none;
}
/*Появление подменю*/
.mainmenu > li:hover .submenu-wrapper {
  display: flex;
}
.submenu {
  width: 180px;
  padding: 0;
  margin-left: 60px;
}
.submenu li {
  margin-top: 19px;
}
.submenu:last-child {
  margin-left: 20px;
}



/*Верхний слайдер*/
.slider {
  position: relative;
}
.slides .slide {
  display: none;
}

.slide-switch {
  display: none;
}
.slider-controls {
  position: absolute;
  top: 369px;
  left: 990px;
  z-index: 2;
}
.slider-controls label {
    display: inline-block;
    width: 4px;
    height: 4px;
    margin: 0 10px;
    background-color: #ffffff;
    border: 3px solid #c3c3c3;
    border-radius: 50%;
    cursor: pointer;
}
#slide-switch1:checked ~ .slider-controls label[for="slide-switch1"],
#slide-switch2:checked ~ .slider-controls label[for="slide-switch2"],
#slide-switch3:checked ~ .slider-controls label[for="slide-switch3"] {
  border-color: #000000;
}
#slide-switch1:checked ~ .slides .slide:nth-child(1) {
  display: flex;
}
#slide-switch2:checked ~ .slides .slide:nth-child(2) {
  display: flex;
}
#slide-switch3:checked ~ .slides .slide:nth-child(3) {
  display: flex;
}
#slide-switch1:checked ~ .slides .slide-image::after {
  content: "01";
}
#slide-switch2:checked ~ .slides .slide-image::after {
  content: "02";
}
#slide-switch3:checked ~ .slides .slide-image::after {
  content: "03";
}
.slide {
  width: 1160px;
  height: 644px;
  display: flex;
  justify-content: space-between;
  background-image: linear-gradient(#f7e296 0%, #f7e296 25.4%, transparent 25.4%, transparent 100%);
}

/*Оформление слайда*/
.slide-image {
  position: relative;
  width: 537px;
  margin-top: 48px;
  margin-left: 23px;
}
.slide-image::after {
  position: absolute;
  content: "01";
  font-size: 179.2px;
  font-weight: 800;
  font-family: 'Gilroy', Arial, sans-serif;
  letter-spacing: 0.01em;
  top: 65px;
  left: 906px;
  color: #ffffff;
  z-index: 0;
}
.slide-text {
  position: relative;
  width: 560px;
  margin-top: 92px;
}
.slide-text::before {
  position: absolute;
  content: "";
  width: 100px;
  height: 7px;
  top: -3px;
  background-color: #ffffff;
  z-index: 2;
}
.slide-text p {
  margin-top: -20px;
}
.slide-text .btn {
  margin-top: 28px;
  width: 220px;
}
.slide-info {
  display: flex;
  padding: 0;
  list-style: none;
  margin-top: 72px;
}
.slide-info li {
  width: 160px;
}
.slide-info li:nth-child(3) {
  margin-left: -22px;
}
.slide-info p:last-child {
  margin-top: -32px;
}

/*Блок популярных товаров*/
.popular {
  margin: 0;
  padding: 0;
  width: 1160px;
  height: 240px;
  display: flex;
  justify-content: space-between;
  list-style: none;
  font-size: 18px;
  margin-bottom: 83px;
}
.popular li {
  width: 160px;
  height: 240px;
}
.popular-bgr {
  background-color: #f7e296;
}
.popular-icon {
  width: 160px;
  height: 160px;
  background: url("../img/popular-sprite.png") no-repeat;
  margin-bottom: 37px;
}
a:hover .popular-bgr {
  background-color: #f0c52e;
}
a:active .popular-icon,
a:active .popular-category {
  opacity: 0.3;
}
li:nth-child(2) .popular-icon {
  background-position: -160px;
}
li:nth-child(3) .popular-icon {
  background-position: -320px;
}
li:nth-child(4) .popular-icon {
  background-position: -480px;
}
li:nth-child(5) .popular-icon {
  background-position: -640px;
}
li:nth-child(6) .popular-icon {
  background-position: -800px;
}

/*Слайдер услуг*/
.services-slide-switch {
  display: none;
}
.services-slide {
  display: none;
}
.services {
  height: 388px;
  background-image: linear-gradient(transparent 0%, transparent 26%, #e5e5e5 26%, #e5e5e5 100%);
  margin-bottom: 95px;
}
.services-slide {
  position: relative;
  width: 850px;
  height: 319px;
  margin-left: 277px;
  padding-left: 117px;
  padding-top: 30px;
  border-left: 7px solid #000000;
}
.services-slide::after {
  position: absolute;
  content: "";
  width: 180px;
  height: 197px;
  left: 650px;
  top: 60px;
  background: url("../img/services-sprite.png") no-repeat;
}
.services-slide p {
  width: 435px;
  margin-top: -13px;
}
.services-slide:nth-child(2)::after {
  background-position: -180px;
}
.services-slide:nth-child(3)::after {
  background-position: -360px;
}
.services-slider {
  position: relative;
}
.services-slider-controls {
  position: absolute;
  top: 80px;
  left: 0px;
}
.services-slider-controls label {
  display: block;
  width: 160px;
  margin-bottom: 23px;
}

#services-slide-switch1:checked ~ .services-slider-controls label[for="services-slide-switch1"],
#services-slide-switch2:checked ~ .services-slider-controls label[for="services-slide-switch2"],
#services-slide-switch3:checked ~ .services-slider-controls label[for="services-slide-switch3"] {
  background-color: #000000;
  background-image: none;
  color: #f7e184;
  width: 165px;
  padding-right: 115px;
}
#services-slide-switch1:checked ~ .services-slides .services-slide:nth-child(1) {
  display: block;
}
#services-slide-switch2:checked ~ .services-slides .services-slide:nth-child(2) {
  display: block;
}
#services-slide-switch3:checked ~ .services-slides .services-slide:nth-child(3) {
  display: block;
}



















/*Блок логотипы*/
.logotypes {
  margin: 0;
  padding: 0;
  width: 1160px;
  height: 100px;
  display: flex;
  justify-content: space-between;
  list-style: none;
  margin-bottom: 120px;
}
.logotype {
  width: 260px;
  height: 100px;
  filter: grayscale(1);
  opacity: 0.2;
}
.logotype:hover {
  filter: grayscale(0);
  opacity: 1;
}
/*Блок инфо+контакты*/
.info-contacts-wrapper {
  margin: 0;
  padding: 0;
  width: 1160px;
  height: 585px;
  display: flex;
  margin-bottom: 45px;
}
.contacts {
  margin-left: 35px;
}

/*Футер*/
.page-footer {
  background-color: #464646;
  color: white;
  clear: both;
}
.footer-wrapper {
  margin: 0;
  padding: 50px 0;
  width: 1160px;
  height: 323px;
  display: flex;
  justify-content: space-between;
  font-size: 15px;
}
.left-footer {
  width: 260px;
}
.center-footer {
  width: 440px;
}
.center-footer ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
}
.actions-footer {
  display: flex;
  justify-content: space-between;
}

.right-footer {
  width: 330px;
}

.on-footer-logo {
  color: #ffc600;
}

.write-us-window {
  display: none;
}
/*------------------------------------------------------------------------------ Стили страницы каталога ---------------*/
/*Основной блок страницы каталога*/
.catalog-upper-block {
  position: relative;
  /*background-color: rgba(255, 0, 0, 0.5);*/
}
.breadcrumbs li {
  display: inline-block;
}

/*Заголовок блока фильтров и блока выбранных товаров с кнопками сортировки*/
.filter-sort-header .container {
  display: flex;
  justify-content: space-between;
}
.sort {
  display: flex;
  justify-content: space-between;
  width: 500px;
  margin-left: 200px;
}
/*Обертка блока фильтров и выбранных товаров с градиентным фоном*/
.main-wrapper {
  display: flex;
  position: relative;
  background-image: linear-gradient(to right, #eeeeee 0%, #eeeeee 30%, #ffffff 30%, #ffffff 100%);
}
/*Полупрозрачная полоска для заголовка фильтра и кнопок блока выбранных товаров*/
.main-wrapper::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 70px;
  background-color: rgba(0, 0, 0, 0.08);
}
/*Блок фильтров и выбранных товаров*/
.main-wrapper .container {
  display: flex;
  justify-content: space-between;
}

.filters {
  margin-left: 60px;
  width: 200px;
  background-color: #eeeeee;
  padding-right: 73px;
  padding-top: 100px;
}
.selected-items {
  width: 760px;
  padding-top: 120px;
  /*background-color: rgba(255, 0, 0, 0.5);*/
}
.item-cards {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0;
}
.item-card {
  width: 360px;
}
/*Блок навигации по страницам выбранных товаров*/
.page-nav {
  display: flex;
  justify-content: space-between;
  background-color: #eeeeee;
  margin-top: 50px;
  margin-bottom: 73px;
}
.choose-page {
  display: flex;
  list-style: none;
}


/*Спрятанные pop-up над карточками товара*/
.item-card-overlay {
  display: none;
}
